<style>

body {
    background-image: url('/images/horoscope.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: `#ff003737;
    color: white;
    font-family:'Calibri', sans-serif;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 15px;             
    background: rgba(0, 0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #30363d;
}

option {
  background: black;
}
    
</style>

<form action="/generate" method="POST">
  <label for="sign" style= "font-family: Calibri, sans-serif; font-size: 28px; font-color: black;">–Ю–±–µ—А—Ц—В—М –Ј–љ–∞–Ї:</label>
  <select style= "font-family: Calibri, sans-serif; font-size: 16px;" name="sign" id="sign">
    <option value="–Ъ–Њ–Ј–Њ—А—Ц–≥">–Ъ–Њ–Ј–Њ—А—Ц–≥вЩС</option>
    <option value="–Т–Њ–і–Њ–ї—Ц–є">–Т–Њ–і–Њ–ї—Ц–євЩТ</option>
    <option value="–†–Є–±–Є">–†–Є–±–ЄвЩУ</option>
    <option value="–Ю–≤–µ–љ">–Ю–≤–µ–љвЩИ</option>
    <option value="–Ґ–µ–ї–µ—Ж—М">–Ґ–µ–ї–µ—Ж—МвЩЙ</option>
    <option value="–С–ї–Є–Ј–љ—О–Ї–Є">–С–ї–Є–Ј–љ—О–Ї–ЄвЩК</option>
    <option value="–†–∞–Ї">–†–∞–ЇвЩЛ</option>
    <option value="–Ы–µ–≤">–Ы–µ–≤вЩМ</option>
    <option value="–Ф—Ц–≤–∞">–Ф—Ц–≤–∞вЩН</option>
    <option value="–Ґ–µ—А–µ–Ј–Є">–Ґ–µ—А–µ–Ј–ЄвЩО</option>
    <option value="–°–Ї–Њ—А–њ—Ц–Њ–љ">–°–Ї–Њ—А–њ—Ц–Њ–љвЩП</option>
    <option value="–°—В—А—Ц–ї–µ—Ж—М">–°—В—А—Ц–ї–µ—Ж—МвЩР</option>
  </select>
  <select style="font-family: Calibri, sans-serif; font-size: 16px;" name="month" id="month">
    <option value="–°—Ц—З–µ–љ—М">C—Ц—З–µ–љ—МрЯОД</option>
    <option value="–Ы—О—В–Є–є">–Ы—О—В–Є–єрЯПФпЄП</option>
    <option value="–С–µ—А–µ–Ј–µ–љ—М">–С–µ—А–µ–Ј–µ–љ—МрЯМ±</option>
    <option value="–Ъ–≤—Ц—В–µ–љ—М">–Ъ–≤—Ц—В–µ–љ—МрЯМЄ</option>
    <option value="–Ґ—А–∞–≤–µ–љ—М">–Ґ—А–∞–≤–µ–љ—МрЯМњ</option>
    <option value="–І–µ—А–≤–µ–љ—М">–І–µ—А–≤–µ–љ—МрЯМЮ</option>
    <option value="–Ы–Є–њ–µ–љ—М">–Ы–Є–њ–µ–љ—МрЯМК</option>
    <option value="–°–µ—А–њ–µ–љ—М">–°–µ—А–њ–µ–љ—МрЯНЙ</option>
    <option value="–Т–µ—А–µ—Б–µ–љ—М">–Т–µ—А–µ—Б–µ–љ—МвШБпЄП</option>
    <option value="–Ц–Њ–≤—В–µ–љ—М">–Ц–Њ–≤—В–µ–љ—МрЯОГ</option>
    <option value="–Ы–Є—Б—В–Њ–њ–∞–і">–Ы–Є—Б—В–Њ–њ–∞–ірЯНВ</option>
    <option value="–У—А—Г–і–µ–љ—М">–У—А—Г–і–µ–љ—МвЭДпЄП</option>
  </select>
  
  <button type="submit">–Ч–≥–µ–љ–µ—А—Г–≤–∞—В–Є –≥–Њ—А–Њ—Б–Ї–Њ–њ</button>
</form>
